<div class="row">
	<div class="col-md-11 col-md-offset-1">
		<div class="seperate-wrapper">
			<div class="row">
				<div class="col-md-10 col-xs-8">
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    <div class="invoice-description">
					    	<strong>Digital Product:</strong> MindTap for Mankiw’s Economics
					    </div>
					  </label>
					</div>
				</div>
				<div class="col-md-2 col-xs-4 text-right">
					<span class="from">from</span> $102 <span class="icon-angle-down"></span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-2">
		<div class="subproduct-wrapper">
			<div class="row">
				<div class="col-md-10 col-md-offset-0 col-xs-8 col-xs-offset-1">
					<div class="radio">
					  <label>
					    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
					    <div class="invoice-description">
					    	<strong>Digital Product:</strong> MindTap for Mankiw's Economics 1 Term (6 months).
					    </div>
					  </label>
					</div>
				</div>
				<div class="col-md-2 col-xs-3">
					<div class="invoice-price">
						$101.00
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-2">
		<div class="subproduct-wrapper">
			<div class="row">
				<div class="col-md-10 col-md-offset-0 col-xs-8 col-xs-offset-1">
					<div class="radio">
					  <label>
					    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
					    <div class="invoice-description">
					    	<strong>Digital Product:</strong> MindTap for Mankiw's Economics 1 Term (12 months).
					    </div>
					  </label>
					</div>
				</div>
				<div class="col-md-2 col-xs-3">
					<div class="invoice-price">
						$200.00
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-11 col-md-offset-1">
		<div class="seperate-wrapper">
			<div class="row">
				<div class="col-md-10 col-md-offset-0 col-xs-8 col-xs-offset-1">
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    <div class="invoice-description">
					    	<strong>Textbook:</strong> Principles of Economics, <span>7th Ed.</span>
					    </div>
					  </label>
					</div>
				</div>
				<div class="col-md-2 col-xs-3 text-right">
					<span class="from">from</span> $100 <span class="icon-angle-right"></span>
				</div>
			</div>
		</div>
	</div>
</div>
