<div class="echapters-wrapper">

	<div class="row">
		<div class="col-md-10 col-md-offset-2">
			<div class="subproduct-wrapper odd">
				<div class="row">
					<div class="col-md-10 col-xs-9">
						<div class="checkbox">
						  <label>
						    <input type="checkbox" value="">
						    <div class="invoice-description">
						    	eChapter 2: Production Possibilities, Opportunity, Cost, and Economic Growth
						    </div>
						  </label>
						</div>
					</div>
					<div class="col-md-2 col-xs-3">
						<div class="invoice-price free">
							free
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-md-offset-2">
			<div class="subproduct-wrapper">
				<div class="row">
					<div class="col-md-10  col-xs-9">
						<div class="checkbox">
						  <label>
						    <input type="checkbox" value="">
						    <div class="invoice-description">
						    	eChapter 2: Production Possibilities, Opportunity, Cost, and Economic Growth
						    </div>
						  </label>
						</div>
					</div>
					<div class="col-md-2  col-xs-3">
						<div class="invoice-price free">
							free
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-md-offset-2">
			<div class="subproduct-wrapper odd">
				<div class="row">
					<div class="col-md-10  col-xs-9">
						<div class="checkbox">
						  <label>
						    <input type="checkbox" value="">
						    <div class="invoice-description">
						    	eChapter 2: Production Possibilities, Opportunity, Cost, and Economic Growth
						    </div>
						  </label>
						</div>
					</div>
					<div class="col-md-2  col-xs-3">
						<div class="invoice-price">
							$15.00
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-md-offset-2">
			<div class="subproduct-wrapper">
				<div class="row">
					<div class="col-md-10  col-xs-9">
						<div class="checkbox">
						  <label>
						    <input type="checkbox" value="">
						    <div class="invoice-description">
						    	eChapter 2: Production Possibilities, Opportunity, Cost, and Economic Growth
						    </div>
						  </label>
						</div>
					</div>
					<div class="col-md-2  col-xs-3">
						<div class="invoice-price">
							$15.00
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-md-offset-2">
			<div class="subproduct-wrapper odd">
				<div class="row">
					<div class="col-md-10  col-xs-9">
						<div class="checkbox">
						  <label>
						    <input type="checkbox" value="">
						    <div class="invoice-description">
						    	eChapter 2: Production Possibilities, Opportunity, Cost, and Economic Growth
						    </div>
						  </label>
						</div>
					</div>
					<div class="col-md-2  col-xs-3">
						<div class="invoice-price">
							$15.01
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
