<div class="purchase-details">
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-xs-12">
				<img src="img/avatar-book-temp.png" alt="">
			</div>
			<div class="col-md-8 col-xs-12">
				<div class="purchase-description">
					<div class="purchase-type"><span>Bundle:</span>Digital Product</div>
					<div class="purchase-title">MindTap for Mankiw's Economics 1 Term (6 months)</div>
					<div class="purchase-title">Paperback Textbook for Principles of Economics, 7th Ed.</div>
					<div class="purchase-title">Hardcover for Exploring Economics</div>
					<div class="purchase-access">Access to digital product is valid for 6 months.</div>
				</div>
			</div>
			<div class="col-md-2 col-xs-12">
				<div class="details-button">
					<button class="btn btn-default">View Details</button>
				</div>
			</div>
		</div>
	</div>
</div>
