<div class="purchase-book-seperately">

	<div class="row">
		<div class="col-md-10 col-md-offset-2">
			<div class="book-section">
				<div class="row">
					<div class="col-md-10 col-xs-9">
						Paperback <span class="free-access">14 day free eBook access while order ships</span>
					</div>
					<div class="col-md-2 col-xs-3 text-right">
						<span class="icon-angle-down"></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-md-offset-2">
			<div class="subproduct-wrapper odd">
				<div class="row">
					<div class="col-md-10 col-xs-9">
						<div class="radio">
						  <label>
						    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
						    <div class="invoice-description">
						    	<strong>Buy paperback </strong><span>Free shipping on orders over $25</span>
						    </div>
						  </label>
						</div>
					</div>
					<div class="col-md-2 col-xs-3">
						<div class="invoice-price">
							$100.00
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-md-offset-2">
			<div class="subproduct-wrapper">
				<div class="row">
					<div class="col-md-10 col-xs-9">
						<div class="radio">
						  <label>
						    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
						    <div class="invoice-description">
						    	<strong>Buy paperback </strong><span>Free shipping on orders over $25</span>
						    </div>
						  </label>
						</div>
					</div>
					<div class="col-md-2 col-xs-3">
						<div class="invoice-price">
							$100.00
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-md-offset-2">
			<div class="subproduct-wrapper odd">
				<div class="row">
					<div class="col-md-10 col-xs-9">
						<div class="radio">
						  <label>
						    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
						    <div class="invoice-description">
						    	<strong>Buy paperback </strong><span>Free shipping on orders over $25</span>
						    </div>
						  </label>
						</div>
					</div>
					<div class="col-md-2 col-xs-3">
						<div class="invoice-price">
							$100.00
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-md-offset-2">
			<div class="book-section">
				<div class="row">
					<div class="col-md-10 col-xs-9">
						eBook
					</div>
					<div class="col-md-2 col-xs-3 text-right">
						<span class="icon-angle-down"></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-md-offset-2">
			<div class="subproduct-wrapper odd">
				<div class="row">
					<div class="col-md-10 col-xs-9">
						<div class="radio">
						  <label>
						    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
						    <div class="invoice-description">
						    	<strong>Buy paperback </strong><span>Free shipping on orders over $25</span>
						    </div>
						  </label>
						</div>
					</div>
					<div class="col-md-2 col-xs-3">
						<div class="invoice-price">
							$100.00
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-md-offset-2">
			<div class="subproduct-wrapper">
				<div class="row">
					<div class="col-md-10 col-xs-9">
						<div class="radio">
						  <label>
						    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
						    <div class="invoice-description">
						    	<strong>Buy paperback </strong><span>Free shipping on orders over $25</span>
						    </div>
						  </label>
						</div>
					</div>
					<div class="col-md-2 col-xs-3">
						<div class="invoice-price">
							$100.00
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-md-offset-2">
			<div class="subproduct-wrapper odd">
				<div class="row">
					<div class="col-md-10 col-xs-9">
						<div class="radio">
						  <label>
						    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
						    <div class="invoice-description">
						    	<strong>Buy paperback </strong><span>Free shipping on orders over $25</span>
						    </div>
						  </label>
						</div>
					</div>
					<div class="col-md-2 col-xs-3">
						<div class="invoice-price">
							$100.00
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-md-offset-2">
			<div class="book-section">
				<div class="row">
					<div class="col-md-10 col-xs-9">
						eChapters
					</div>
					<div class="col-md-2 col-xs-3 text-right">
						<span class="icon-angle-right"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	@@include('eChapters.html')

</div>


