<div class="invoice-wrapper">
	<div class="row">
		<div class="col-md-10 col-xs-8">
			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
			    <div class="invoice-description">
			    	1 Term Bundle: 6 months access <br> <span>Digital Product: MindTap for Mankiw's Economics + Textbook: Principle of Economics, 7th Ed.</span>
			    </div>
			  </label>
			</div>
		</div>
		<div class="col-md-2 col-xs-4">
			<div class="invoice-price">
				$125.00
			</div>
		</div>
	</div>
</div>
<div class="invoice-wrapper">
	<div class="row">
		<div class="col-md-10 col-xs-8">
			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
			    <div class="invoice-description">
			    	2 Term Bundle: 6 months access <br> <span>Digital Product: MindTap for Mankiw's Economics + Textbook: Principle of Economics, 7th Ed.</span>
			    </div>
			  </label>
			</div>
		</div>
		<div class="col-md-2 col-xs-4">
			<div class="invoice-price">
				$125.00
			</div>
		</div>
	</div>
</div>
<div class="invoice-wrapper">
	<div class="row">
		<div class="col-md-9 col-xs-8">
			<div class="radio">
			  <label>
			    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
			    <div class="invoice-description">
			    	I already own one of the items in the bundle.
			    </div>
			  </label>
			</div>
		</div>
		<div class="col-md-3 col-xs-4">
			<div class="invoice-price action">
				Buy Products Seperately <span class="icon-angle-down"></span>
			</div>
		</div>
	</div>
	@@include('buy-products-seperately.html')
	@@include('purchase-books-seperately.html')
</div>
