<section class="active-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-xs-12 help-callout-wrapper">
				<span class="icon-info"></span>Get Help
			</div>
			<div class="col-md-9 col-xs-12 footer-menu-wrapper">
				<div class="footer-menu">
					<div class="row">
						<div class="col-md-4 col-xs-12">
							<ul>
								<li class="title">Customer Service</li>
								<li>Questions about an order or purchase?<br>For fastest response visit our <a href="#">customer service page</a>, available 7 days a week, 24 hours a day.</li>
								<li>Or call 866-994-2427 M-F 8am - 6pm EST</li>
							</ul>
						</div>
						<div class="col-md-4 col-xs-12">
							<ul>
								<li class="title">Technical Support</li>
								<li>Trouble registering or accessing your product? For fastest response visit our <a href="#">tech support page</a>, available 7 days a week, 24 hours a day.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
