<footer>
	<div class="passive-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-sm-12 col-md-push-3">
					<div class="footer-nav">
						<ul>
							<li><a href="#">About Us</a></li>
							<li><a href="#">Help</a></li>
							<li><a href="#">Accessibilty</a></li>
							<li><a href="#">Terms of Service</a></li>
							<li><a href="#">Privacy Statement</a></li>
							<li><a href="#">Report Piracy</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 col-md-pull-9">
					<div class="footer-callout">
						<div class="callout-text">
							<div class="footer-logo">
								<img src="img/footer-logo.png" width="170" alt="">
							</div>
							<ul class="third-parties">
								<li class="digicert">
									<img src="img/logo-digicert.png" width="60" height="37" alt="">
								</li>
								<li class="twitter"><span class="icon-twitter2"></span></li>
								<li class="facebook"><span class="icon-facebook2"></span></li>
							</ul>
							<div class="footer-copyright">
								&copy;2015 Cengage Learning
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
