<header>
	<div class="view-header">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-12 course-callout-wrapper">
						<span class="icon-book"></span>Course
				</div>
				<div class="col-md-9 col-sm-12 course-description-wrapper">
					<div class="course-description">
						<h3 class="course-title"><span class="title-number">Econ 101:</span> Introduction to Economics - <span class="title-section">Section 300</span></h3>
						<div class="course-info">
							<ul>
								<li class="school">West Chester University, West Chester PA</li>
								<li class="period">Spring 2016</li>
								<li class="dates">4/28 - 6/23</li>
							</ul>
						</div>
						<div class="course-instructor">
							<i>Instructor:</i> John Baker
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
