<nav>
	<div class="view-nav">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-xs-6">
					<div class="logo-wrapper">
						<h1>
							<a href="/"><span>Cengage Learning</span></a>
						</h1>
					</div>
				</div>
				<div class="col-md-9 col-xs-6">
					<div class="menu-wrapper">
						<a href="#">My Dashboard</a>
						<div class="btn-group">
						  <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
						    My Courses <span class="icon-angle-down"></span>
						  </button>
						  <ul class="dropdown-menu" role="menu">
						    ...
						  </ul>
						</div>
						<div class="btn-group">
						  <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
						    Username <span class="icon-angle-down"></span>
						  </button>
						  <ul class="dropdown-menu" role="menu">
						    ...
						  </ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>
